.dashboard-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.main-wrapper {
  flex-grow: 1; 
  width: 100%; 
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.main-content {
  padding: 24px; 
  width: 100%;
}