.dashboard-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: #F9FAFB;
  }
  
  .main-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .main-content {
    padding: 24px;
  }