.container {
  background-color: #fff;
}
.container2 {
  width: 100%;
  height: 740px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/images/Nasi_Goreng_Ayam.jpg");
  background-size: cover;
  background-position: center;
}

.containerKontak {
  width: 100%;
  height: 740px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/images/backgroundKontak.png");
  background-size: cover;
  background-position: center;
}

.judulHalaman {
  color: white;
  text-align: center;
  padding-top: 190px;
  font-size: 70px;
  font-weight: bold;
  font-family: inter;
}

.judulHalaman2 {
  color: rgb(0, 0, 0);
  text-align: center;
  padding-top: 100px;
  font-size: 40px;
  font-weight: bold;
  font-family: inter;
}

.kuning {
  color: #fa8f15;
}

.deskripsisingkatberanda {
  color: white;
  text-align: center;
  font-size: 29px;
  margin-top: 20px;
  margin-right: 460px;
  margin-left: 460px;
  font-family: inter;
}

.deskripsisingkat2 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 29px;
  margin-top: 20px;
  margin-right: 460px;
  margin-left: 460px;
  font-family: inter;
}

.tombolJelajahi {
  display: block;
  margin: 30px auto 0 auto;
  padding: 10px 25px;
  font-size: 16px;
  color: white;
  background-color: #fa8f15;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: inter;
}

.panahBawah {
  display: block;
  margin: 0 auto;
  width: 40px;
  height: auto;
  animation: bounce 2s infinite;
  position: relative;
  bottom: -220px;
}

@media (max-width: 1231px) {
  .deskripsisingkatberanda {
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-right: 100px;
    margin-left: 100px;
    font-family: inter;
  }

  .deskripsisingkat2 {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 20px;
    margin-right: 100px;
    margin-left: 100px;
    font-family: inter;
  }

  .container2 {
    width: 100%;
    height: 1000px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("/images/Nasi_Goreng_Ayam.jpg");
    background-size: cover;
    background-position: center;
  }

  .containerKontak {
    width: 100%;
    height: 920px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("/images/backgroundKontak.png");
    background-size: cover;
    background-position: center;
  }
}
