.container {
  width: 100%;
  height: 667px;
  background: 
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("/images/Nasi_Goreng_Ayam.jpg");
  background-size: cover;
  background-position: center;
}

.judulHalaman {
  color: white;
  text-align: center;
  padding-top: 190px;
  font-size: 70px;
  font-weight: bold;
  font-family: inter;
}

.kuning {
  color: #fa8f15;
}

.deskripsisingkatberanda {
  color: white;
  text-align: center;
  font-size: 29px;
  margin-top: 20px;
  margin-right:460px;
  margin-left:460px;
  font-family: inter;
}