.container {
  background-color: #fff;
  width: 100%;
  max-width: 100%; /* pastikan tidak dibatasi */
  overflow-x: hidden; /* biar tidak ada scroll horizontal */
}

.container2 {
  width: 100%;
  min-height: 100vh; 
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/images/Nasi_Goreng_Ayam.jpg");
  background-size: cover;
  background-position: center;
}

.containerKontak {
  width: 100%;
  min-height: 100vh; 
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/images/backgroundKontak.png");
  background-size: cover;
  background-position: center;
}

.judulHalaman {
  color: white;
  text-align: center;
  padding-top: 20vh; 
  font-size: clamp(32px, 6vw, 70px);
  font-weight: bold;
  font-family: inter;
}

.judulHalaman2 {
  color: black;
  text-align: center;
  padding-top: 10vh;
  font-size: clamp(24px, 4vw, 40px);
  font-weight: bold;
  font-family: inter;
}

.deskripsisingkatberanda,
.deskripsisingkat2 {
  text-align: center;
  font-size: clamp(16px, 2vw, 29px);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px; 
  font-family: inter;
  color: white;
}

.deskripsisingkat2 {
  color: black;
}

.tombolJelajahi {
  display: block;
  margin: 30px auto 0 auto;
  padding: 10px 25px;
  font-size: clamp(14px, 1.4vw, 18px);
  color: white;
  background-color: #fa8f15;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: inter;
  position: relative;
  top:10vh;
}

.kuning{
  color:#fa8f15
}

.panahBawah {
  display: block;
  margin: 0 auto;
  width: clamp(25px, 4vw, 40px);
  height: auto;
  position: relative;
  bottom: -40vh;
}